name: Build Docker Image

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Build Docker image
        run: |
          docker build -t GhoulTeam/highload-systems:latest .
      - name: Run tests
        run: |
          docker run --rm GhoulTeam/highload-systems:latest ./mvnw test

